.mat-form-field {
    width: 100%;
    display: flex;
    justify-content: center;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    text-align: center;
    color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}

form {
    width: 100%;
}

table {
    width: 100%;
}

.datatable-right-spacer {
    display: flex;
    flex: 0 0 10%;
    justify-content: center;
    padding-right: 0px;
}

.datatable-left-spacer {
    display: flex;
    flex: 0 0 10%;
    justify-content: center;
    padding-left: 0px;
}

h1 span {
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.5;
}