<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> Create </span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="createForm" (ngSubmit)="save()">
    <div mat-dialog-content>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Date</mat-label>
            <input matInput formControlName="created_dt" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput formControlName="content"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions style="float: right">
        <button mat-flat-button type="button" color="secondary" (click)="return()">Back</button>
        <button mat-flat-button type="submit" color="primary">Save</button>
    </div>
</form>